.about-section {
  width: 100%;
  padding: 40px;
  background: #333333;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.about-us-02 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.about-description01 {
  margin: 0 30px;
  color: white;
  text-align: justify;
}

.about-section .about-description01 h1 {
  font-size: 50px;
  visibility: hidden;
}

.about-section .about-description01 p {
  padding: 20px 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 100;
  visibility: hidden;
}


.about-description02 {
  margin: 0 30px;
  color: white;
  text-align: justify;
}

.about-description02 h1 {
  font-size: 50px;
  text-align: right;
  visibility: hidden;
}

.about-description02 p {
  padding: 20px 0;
  font-size: 15px;
  line-height: 26px;
  font-weight: 100;
  visibility: hidden;
}

.about-img {
  padding: 20px;
  visibility: hidden;
}

.about-us .about-img img {
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 30px 25px #03030373;
}
.about-us-02 .about-img img {
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 30px 25px #03030373;
}
