.customers-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-wrap: wrap;
}

.customers-title {
  text-align: center;
  margin: 0 10px;
  visibility: hidden;
}

.customers-title h3 {
  font-size: 45px;
  padding: 50px;
}

.customers-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.customers-logo img {
  width: 280px;
  padding: 30px;
  visibility: hidden;
}

.customers-logo img:nth-child(3) {
  width: 180px;
}
