.form {
  background-color: #6100ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.form-content {
  background-color: #6100ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;

}

.form-text {
  width: 50%;
  color: #ffff;
  font-size: 35px;
  font-weight: 400;
  line-height: 60px;
  font-style: italic;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

label {
  color: #ffff;
  padding: 10px 0;
  font-weight: 500;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

textarea{
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button{
   background-color:#FF5C00;
   color:white;
   font-weight: 500;
   font-size: 15px;
   padding: 10px;
   margin: 15px 0;
   width: 150px;
   border: none;
   border-radius: 5px;
}

button:hover{
   transition: all 0.5s linear;
   background-color: #fdfdfd;
   color: #6200ff;
}