@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .nav-bar .logo h1 {
    font-size: 25px;
  }

  .nav-list ul li a {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon span {
    color: #ffff;
    font-size: 35px;
    font-weight: bold;
  }

  .mobile-menu {
    font-size: 20px;
    width: 100%;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu li {
    display: block;
    padding: 15px;
    z-index: 1000;
    background-color: #6100ff;
  }

  .mobile-menu li a {
    color: #edebf1;
  }

  .open {
    display: block;
  }

  .main-container {
    height: 510px;
  }

  .main-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .main-content h1 {
    font-size: 40px;
  }

  .about-us {
    padding: 0 20px;
    flex-direction: column;
  }

  .about-us-02 {
    padding: 0 20px;
  }

  .about-us .about-description01 h1 {
    font-size: 50px;
  }

  .about-section .about-us .about-img img {
    width: 100%;
  }

  .about-section .about-us .about-img {
    padding: 0 25px;
  }

  .about-us-02 {
    flex-direction: column;
  }

  .about-us-02 .about-img {
    order: 3;
  }

  .about-us-02 .about-description02 h1 {
    font-size: 50px;
    text-align: right;
  }

  .about-us-02 .about-description02 {
    text-align: justify;
  }

  .about-section .about-us-02 .about-img {
    padding: 0 25px;
  }

  .about-section .about-us-02 .about-img img {
    width: 100%;
  }

  .service-container {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 0 10px;
  }

  .nav-bar .logo h1 {
    font-size: 20px;
  }

  .about-section .about-us .about-description01 {
    padding: 0;
  }

  .about-section .about-us .about-description01 h1 {
    font-size: 27px;
  }
  .about-section .about-us .about-description01 p {
    font-size: 12px;
    line-height: 18px;
  }

  .about-section .about-us-02 .about-description02 {
    padding: 0;
  }
  .about-section .about-us-02 .about-description02 h1 {
    font-size: 27px;
  }
  .about-section .about-us-02 .about-description02 p {
    padding: 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-section .about-us-02 .about-img {
    width: 330px;
  }
}

@media (max-width: 425px) {
  header {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .mobile-menu-icon span {
    font-size: 30px;
  }

  .main-container {
    padding: 50px 15px;
  }

  .main-container .main-content h1 {
    font-size: 30px;
    text-align: center;
  }

  .main-container .main-content p {
    font-size: 12px;
    text-align: center;
    padding: 15px;
  }

  .main-content {
    align-items: center;
  }

  .about-section {
    padding: 30px 0;
  }

  .about-us {
    padding: 5px 0;
  }

  .about-section .about-us .about-description01 h1 {
    font-size: 30px;
    text-align: center;
  }

  .about-section .about-us .about-description01 p {
    font-size: 12px;
  }

  .about-section .about-us .about-img img {
    width: 100%;
  }

  .about-us-02 {
    padding: 5px 0;
  }

  .about-us-02 .about-description02 h1 {
    font-size: 30px;
    text-align: center;
  }

  .about-us-02 .about-description02 p {
    font-size: 12px;
  }

  .about-section .about-us-02 .about-img {
    padding: 10px 30px;
  }

  .about-section .about-us-02 .about-img img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .main-container {
    height: 435px;
  }

  .main-content h1 {
    font-size: 40px;
  }

  .main-content p {
    font-size: 14px;
  }

  .about-us .about-img img {
    width: 450px;
  }

  .about-us-02 .about-img img {
    width: 450px;
  }
}
