@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .nav-bar .logo h1 {
    font-size: 25px;
  }

  .nav-list ul li a {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon span {
    color: #ffff;
    font-size: 35px;
    font-weight: bold;
  }

  .mobile-menu {
    font-size: 20px;
    width: 100%;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu li {
    display: block;
    padding: 15px;
    z-index: 1000;
    background-color: #6100ff;
  }

  .mobile-menu li a {
    color: #edebf1;
  }

  .open {
    display: block;
  }

  .main-container {
    height: 510px;
  }

  .main-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .main-content h1 {
    font-size: 40px;
  }

  .about-us {
    padding: 0 20px;
    flex-direction: column;
  }

  .about-us-02 {
    padding: 0 20px;
  }

  .about-us .about-description01 h1 {
    font-size: 50px;
  }

  .about-section .about-us .about-img img {
    width: 100%;
  }

  .about-section .about-us .about-img {
    padding: 0 25px;
  }

  .about-us-02 {
    flex-direction: column;
  }

  .about-us-02 .about-img {
    order: 3;
  }

  .about-us-02 .about-description02 h1 {
    font-size: 50px;
    text-align: right;
  }

  .about-us-02 .about-description02 {
    text-align: justify;
  }

  .about-section .about-us-02 .about-img {
    padding: 0 25px;
  }

  .about-section .about-us-02 .about-img img {
    width: 100%;
  }

  .service-container {
    padding: 0;
  }

  .service-container .title-section h1 {
    font-size: 50px;
  }

  .content {
    margin: 0;
  }

  .customers-title h3 {
    font-size: 45px;
    padding: 0px;
    margin: 0 0 45px 0;
  }

  .form {
    padding: 8px;
  }

  .form-content {
    padding: 15px;
    width: 100%;
  }

  .form-text {
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 0 10px;
  }

  .nav-bar .logo h1 {
    font-size: 20px;
  }

  .about-section .about-us .about-description01 {
    padding: 0;
  }

  .about-section .about-us .about-description01 h1 {
    font-size: 27px;
  }
  .about-section .about-us .about-description01 p {
    font-size: 12px;
    line-height: 18px;
  }

  .about-section .about-us-02 .about-description02 {
    padding: 0;
  }
  .about-section .about-us-02 .about-description02 h1 {
    font-size: 27px;
  }
  .about-section .about-us-02 .about-description02 p {
    padding: 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-section .about-us-02 .about-img {
    width: 330px;
  }

  .services-cards{ 
    margin: 15px;
  }

  .services-cards h2 {
    font-size: 20px;
    padding: 0;
  }

  .services-cards p {
    padding: 10px;
    font-size: 12px;
  }

  .services-cards .btn-sm{
     width: 120px;
     padding: 8px;
     font-size: 13px;
  }

  .customers-logo img {
    width: 100%;
  }

  .customers-logo img {
    width: 200px;
  }

  .customers-logo img:nth-child(3) {
    width: 150px;
  }
  .customers-logo img:nth-child(4) {
    width: 120px;
  }

  form {
    width: 100%;
    padding: 8px;
}
}

@media (max-width: 375px) {
  .customers-logo img {
    width: 250px;
  }

  .customers-logo img:nth-child(3) {
    width: 150px;
  }
  .customers-logo img:nth-child(4) {
    width: 120px;
  }

  .services-cards{ 
    margin: 10px;
  }

.services-cards h2 {
    font-size: 20px;
}

.services-cards p {
   font-size: 10px;
   padding: 8px;
}

.services-cards .btn-sm{
  width: 120px;
  padding: 8px;
  font-size: 12px;
}

.form-text {
  padding: 0px;

}

form {
  width: 100%;
  padding: 8px;
}
}

@media (max-width: 425px) {
  header {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .mobile-menu-icon span {
    font-size: 30px;
  }

  .main-container {
    padding: 50px 15px;
  }

  .main-container .main-content h1 {
    font-size: 35px;
    text-align: center;
  }

  .main-container .main-content p {
    font-size: 12px;
    text-align: center;
    padding: 15px;
  }

  .main-content {
    align-items: center;
  }

  .about-section {
    padding: 2px;
  }

  .about-us {
    padding: 8px 0;
  }

  .about-section .about-us .about-description01 h1 {
    font-size: 30px;
    text-align: center;
  }

  .about-section .about-us .about-description01 p {
    font-size: 12px;
  }

  .about-section .about-us .about-img img {
    width: 100%;
  }

  .about-us-02 {
    padding: 5px 0;
  }

  .about-us-02 .about-description02 h1 {
    font-size: 30px;
    text-align: center;
  }

  .about-us-02 .about-description02 p {
    font-size: 12px;
  }

  .about-section .about-us-02 .about-img {
    padding: 10px 30px;
  }

  .about-section .about-us-02 .about-img img {
    width: 100%;
  }

  .service-container .title-section h1 {
    font-size: 32px;
  }

  .services-cards{ 
    margin: 20px;
  }

  .customers-section {
    padding: 20px;
  }

  .customers-title {
    text-align: center;
    margin: 0px;
  }

  .customers-title h3 {
    font-size: 25px;
  }

  .customers-logo img {
    width: 200px;
    padding: 20px;
  }
  .customers-logo img:nth-child(3){
    width: 130px;
  }
  .customers-logo img:nth-child(4) {
    width: 200px;
  }
  .form-content {
    display: block;
    border-radius: 0px;
  }

  .form-text {
    padding: 30px;
    line-height: 35px;
    width: 100%;
    font-size: 20px;
  }

  form {
    width: 100%;
    padding: 8px;
  }

  button {
    width: 100px;
    font-size: 13px;
    margin: 15px auto;
  }

  label{
     font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    height: 435px;
  }

  .main-content h1 {
    font-size: 40px;
  }

  .main-content p {
    font-size: 14px;
  }

  .about-us .about-img img {
    width: 450px;
  }

  .about-us-02 .about-img img {
    width: 450px;
  }
}
