.service-container {
  background-color: #6100ff;
  width: 100%;
  padding: 65px;
}

.title-section {
  text-align: center;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.title-section h1 {
  font-size: 50px;
  font-weight: 800;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.services-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin: 20px;  
  
}

.services-cards:hover {
  transition: linear 0.6s;
  background-color: #330281;
  border-radius: 20px 50px;
}

.services-cards img {
  width: 250px;
  height: 220px;
  padding: 20px;
}

.services-cards h2 {
  color: white;
  text-align: center;
  font-size: 25px;
}



.services-cards p {
  color: white;
  padding:5px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}


.services-cards .btn-sm {
  border: none;
  border-radius: 15px;
  width: 150px;
  padding: 8px;
  margin-top: 10px;
  background: #ff5c00;
  color: white;
  font-weight: 600;
}

.btn-sm:hover {
  transition: all 0.3s ease-in-out;
  background: white;
  color: #6100ff;
}
