.service-container {
  background-color: #6100ff;
  width: 100%;
  padding: 10px 65px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.services-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin: 40px;
  box-shadow: 0 30px 25px #03030350;
  visibility: hidden;
}

.services-cards img {
  width: 250px;
  height: 220px;
  padding: 20px;
}

.services-cards h2 {
  color: white;
  text-align: center;
  font-size: 25px;
}

.services-cards p {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

.services-cards .btn-sm {
  font-size: 12px;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 8px;
  margin-top: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.btn-sm:hover {
  transition: all 0.3s ease-in-out;
  background: #6100ff;
  color: #ffffff;
}
